/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

table {
  width: 100%;
}
.full-width {
  width: 100%;
}
table {
  width: 100%;
}
button {
  margin: 0 15px;
}
.clickable {
  cursor: pointer;
}
.overrided-primary {
  background: #2c475a !important;
}
.section-table {
  padding: 0 10px;
}
.search-holder {
  padding: 0 10px;
}
.mat-form-field {
  width: 100%;
}
.section-button {
  height: 35px;
}

.mat-row:hover {
  cursor: pointer;
  background-color: #f3f3f3 !important;
}

.mat-row:nth-child(odd) {
  background-color: #ffffff;
}

.mat-row:nth-child(even) {
  background-color: #f8f9fa;
}

::ng-deep {
  .mat-sort-header-container .mat-sort-header-button {
    margin: 0 !important;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.75) !important;
  }

  .fa-check-square {
    color: #27ae60;
    font-size: 32px;
  }

  .fa-times {
    color: #bb5858;
    font-size: 32px;
  }

  span.fa.fa-thumb-tack {
    color: #ffffff;
    background-color: #62a8e5;
    padding: 5px 12px;
    margin: 5px;
    border-radius: 26px;
  }

  .td-center {
    text-align: center;
  }
}

.a-tip:hover {
  text-decoration: underline;
}
